.menu{
  width: 100%;
  height: 106px;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
  background-color: #307063;
  position:  sticky;
  top: 0;
  z-index: 100;
  
}

.menuImg{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo{
  content: url('../../assets/img/logoP-remove-branco.png');
  height: 45px;
  width: auto; 
}

.logomenu{
  height: 50px;
  width: auto; 
  
}

.menuItems{
  text-align: center;
  background-color: #307063;
  border-radius: 0 0 22px 22px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease;
  padding-left: 0;
}

.menuItems.active{
  max-height: 500px;
  opacity: 1;

}

.item{
  list-style: none;
  padding: 23px 0;
}



.btnNav{
   text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-out;
}

.btnNav:hover{
  font-weight: bold;
  font-size: 24px;
  border-bottom: 1px solid #740B0D;
  padding-bottom: 35px;
}

@media(min-width: 700px){
  .menu{
    display: flex;
    justify-content: space-between;
    height: 100px;
    
  }
  
  .logo{
    content: url('../../assets/img/logoG-remove-preto.png');
    height: 65px;
  }

  .logomenu{
    display: none;
  }

  .menuItems{
    overflow: visible;
    display: inline-flex;
    align-items: center;

  }

  .item{
    padding: 0 15px;

  }

  .btnNav{
    font-size: 14px;
  }
}

@media(min-width: 1024px){
  .item{
    padding: 0 25px;
  }

  .btnNav{
    font-size: 19px;
  }
}

@media(min-width: 1440px){
  .menu{
    padding: 0 30px;

  }
  
  .btnNav{
    font-size: 22px;
  }

  .item{
    padding: 0 30px;
  }
}