.quem-somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quem-somos-text {
  font-size: 20px;
  margin: 1.563rem 31.25rem;
  background-color: #F2EDE4;
  padding: 12px;
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
}

.quem-somos-title{
  text-align: center;
  margin: 12px;
  font-size: 40px;
}

.carouselQS {
  display: flex;
  justify-content: center; 
  width: 100%;
}


.carouselQS-img{
  width: 700px;
  height: 400px;
  background-size: contain;
}

.carouselQS .carousel-control-prev-icon,
.carouselQS .carousel-control-next-icon {
  filter: invert(100%); /* deixa o ícone preto */
}

.carouselQS .carousel-control-prev,
.carouselQS .carousel-control-next {
  opacity: 1;
}

.carouselQS .carousel-control-prev:hover,
.carouselQS .carousel-control-next:hover {
  opacity: 0.7;
}



@media(max-width: 1440px) {
  .quem-somos-text {
      margin: 1.563rem 23rem;
  }

  .carouselQS-img{
    width: 600px;
    height: 300px;

  }
}

@media(max-width: 1024px){
  .quem-somos-title{
    font-size: 30px;
  }

  .quem-somos-text {
      margin: 1.563rem 13rem;
  }
}

@media(max-width: 1220px){
  .quem-somos-text {
      margin: 1.563rem 11rem;
  }
}

@media(max-width: 820px){
  .quem-somos-text {
      margin: 1.563rem 7rem;
  }
}

@media(max-width: 768px) {
  .quem-somos-title{
    font-size: 25px;
  }

  .quem-somos-text {
      margin: 1.563rem 5rem;
  }

  .carouselQS-img{

    height: 250px;

  }
}
@media(max-width: 650px) {

  .quem-somos-title{
    font-size: 18px;
  }

  .carouselQS-img{
    width: 320px;
    height: 250px;

  }

  .quem-somos-text {
      margin: 1.563rem 4rem;
  }
}

@media(max-width: 375px) {
  .quem-somos-text {
      margin: 1.563rem 2.3rem;
  }
}

@media(max-width: 320px){
  .carouselQS-img{
    width: 300px;
    height: 200px;
  }
}