
.quem-somos{
  padding-top: 100px;
}
.quem-carousel{
  width: 90%;
  overflow-x: auto;
  display: flex;
  margin: 3em auto;
  gap: 3em;
  scroll-behavior: smooth;
  anchor-name: --quem-carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.quem-cartao{
  scroll-snap-align: start;
  flex: 0 0 25em;
  height: 13em;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  align-content: center;
  background-color: white;
  background-size: 100% 100%;
  background-position: center;
  
}

.quem-carousel::scroll-marker-group{
  display: flex;
  justify-content: center;
  gap: .5em ;
  
}

.quem-cartao::scroll-marker{
  content: '';
  height: .7em;
  width: .7em;
  background-color: #D9D9D9;
  border-radius: 50%;
  
}

.quem-cartao::scroll-marker:target-current{
  background-color: #b6b6b6;
  
}

.quem-carousel::-webkit-scrollbar{
  display: none;
}

.quem-carousel::scroll-button(right), .quem-carousel::scroll-button(left){
  content: '→';
  border: none;
  background-color: #b6b6b6;
  font-family: Consolas;
  font-size: 3em;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: .1em;
  cursor: pointer;
  position: absolute;
  position: fixed;
  position-anchor: --quem-carousel;
  position-area: right center;
  translate: 25%;
  z-index: 1;
}

.quem-carousel::scroll-button(left){
  content: '←';
  position-area: left center;
  translate: -25%;
}

.quem-carousel::scroll-button(right):disabled, .quem-carousel::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}



.quem-somos h1{
  text-align: center;
  margin: 20px 10px;
}

.quem-somos-text{
  font-size: 17px;
  margin: 1.563rem 31.25rem;
  background-color: #F2EDE4;
  padding:10px;
  border: 1px solid black;
  border-radius: 10px;
}


@media(max-width: 1500px){
  .quem-carousel{
    width: 84%;
  }

  .quem-somos-text{
    margin: 25px 75px;
  }
}

@media(max-width: 768px){
  .quem-carousel{
    width: 75%;
  }
  .quem-somos-text{
    margin: 25px 45px;
  }
}

@media(max-width: 500px){
  .quem-carousel{
    width: 65%;
  }
  .quem-cartao{
    flex: 0 0 100%;
  }
}

@media(max-width: 425px){
  .quem-carousel{
    width: 67%;
  }
}

@media(max-width: 320px){
  .quem-carousel::scroll-button(right), .quem-carousel::scroll-button(left){
    height: 40px;
    width: 40px;
    font-size: 2em;
  }
}