#doacao{
  scroll-margin-top: 100px;
}

.doacao-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgDoacao{
  width: 100%;
  height: auto;
}

.titleDoacao{
  text-align: center;
  margin: 10px;
}

.textDoacao{
   margin: 12px;
   font-size: 20px;
}

.cards, .cartoes{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartaoDoacao{
  margin: 10px;
  background-color: #307063;
  width: 280px;
  height: 370px;
  border-radius: 20px;
}

.titulosCartao{
  text-align: center;
  margin: 10px auto;
  color: white;
  width: 50%;  
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px; 
  justify-content: center; 
}

.textoCartao{
  font-size: 18px;
  margin: 20px; 
  color: white;

}

.drive{
  font-size: 19px;
}

.btnSaibaMais{
  border: none;
  width: 150px;
  height: 40px;
  margin: 10px;
  border-radius: 25px;
  background-color: #740B0D;
  color: #ffffff;
  
}

@media(min-width: 700px){
  .doacao-container{
    width: 100%;
    padding: 0 10rem;
  }

  .imgDoacao{
    width: 100%s;
  }
  
  .cartoes{
    flex-direction: row;
    padding: 0 20 px;
  }
  .btnSaibaMais{
   
   margin: 20px;
  }

  .textoCartao{
    font-size: 13px;
  }

  .drive{
    font-size: 14px;
  }

  .rotary{
    font-size: 12px;
  }

  .cartaoDoacao{

    width: 170px;
    height: 350px;
    
  }

  .titulosCartao{
    font-size: 17px;
 
  }

}
@media(min-width: 1000px){
  .doacao-container{

    padding: 0 15rem;
  }
  
  .cartaoDoacao{

    width: 240px;
    height: 370px;
  
  }
  .titulosCartao{
    font-size: 23px;
 
  }
   .textoCartao{
    font-size: 18px;
  }

  .rotary{
    font-size: 16px;
  }

  .imgDoacao{
    height: 500px;
  }
}
@media(min-width: 1400px){
  .cartaoDoacao{

    width: 280px;
    height: 370px;
    margin: 10px 25px
  }

   .textoCartao{
    font-size: 18px;
  }

  .doacao-container{

    padding: 0 25rem;
  }
  
}