
.home-container{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.imgHome{
  width: 100%;
  height: auto;
}

.titleHome{
  text-align: center;
  margin: 15px;
}

.textHome{
  margin: 15px 20px;
  font-size: 20px;
  
}

@media(min-width: 700px) {
  .textHome{
    font-size: 24px;
   
  }

  .home-container{
    margin: 0 10rem;
  }
}
@media(min-width: 1000px) {
  .imgHome{
    height: 500px;
    width: 100%;
    
  }

  .textHome{
    font-size: 24px;
    margin: 1rem 0;
  }


}

@media(min-width: 1020px) {
  .textHome{
    font-size: 24px;
   
  }

  .home-container{
    margin: 0 15rem;
  }
}
@media(min-width: 1444px) {

  .home-container{
    margin: 0 25rem;
  }
}
