.imgHome{
  width: 100%;
  height: auto;
}

.titleHome{
  text-align: center;
  margin: 15px;
}

.textHome{
  margin: 15px 20px;
  font-size: 20px;
}

@media(min-width: 700px) {
  .textHome{
    font-size: 24px;
    margin: 1rem 7rem;
  }
}
@media(min-width: 1000px) {
  .imgHome{
    height: 500px;
    width: 100vw;
    
  }

  .textHome{
    font-size: 24px;
    margin: 1rem 10rem;
  }


}
